server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bugtrail
    username: bugtrail
    password: bugtrail
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: bugtrail-activity-consumer
      auto-offset-reset: earliest
    producer:
      acks: all

logging:
  level:
    org.hibernate.SQL: debug
